<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/png/logo.png">
    <link
      href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link href="static/styling/navbar.css" rel="stylesheet" type="text/css" />
    <link href="static/styling/home.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main id="main">
      <nav class="mainNav">
        <div class="logo">
            <img src="images/png/logo.png" id="ylogo" alt="logo">
            <p>YouTube to Spotify</p>
        </div>
        <div class="links">
          <a href="mailto:example@youtube2spotify.com">Contact</a>
          <a>Help</a>
        </div>
      </nav>
      <div id="mainContent">
        <div id="serviceContainer">
          <div id="serviceContainerLabel">
            <h1 id="serviceLabel">Choose Service</h1>
          </div>
          <div id="featureContainer">
            <div id="featureNav">
              <div id="featureNavLinks">
                <div id="featureNavIdSong" class="active">
                  <a onclick="toggleFeature('featureNavIdSong')"
                    >Identify song</a
                  >
                </div>
                <div id="featureNavIdPlaylist">
                  <a onclick="toggleFeature('featureNavIdPlaylist')"
                    >Identify all songs in a video</a
                  >
                </div>
                <div id="featureNavConvertPlaylist">
                  <a onclick="toggleFeature('featureNavConvertPlaylist')"
                    >Convert playlist</a
                  >
                </div>
              </div>
            </div>
            <div class="formContainer">
              <div id="identifySongContainer" class="active">
                <div id="expandedIdentifySongContainer">
                  <form class="urlForm">
                    <div class="urlFormInputLabel">
                      <p>
                        Please insert a valid YouTube URL with or without a timestamp for the
                        song you wish to identify
                      </p>
                    </div>
                    <div class="inputDiv">
                      <input
                        type="text"
                        class="URLinput"
                        id="convertVideoInput"
                        placeholder="youtube.com/watch?v=YoU-tuBe_23t=1"
                      />
                      <button id="URLsubmit-btn1" type="button">Submit</button>
                    </div>
                    <p id="error-message1"></p>
                  </form>
                </div>
              </div>
              <div id="identifyPlaylistContainer">
                <div id="expandedIdentifyAllSongsContainer">
                <form class="urlForm">
                  <div class="urlFormInputLabel">
                    <p>
                      Please insert a valid YouTube URL for a video to identify
                      all songs
                    </p>
                  </div>
                  <div class="inputDiv">
                    <input 
                      type="text"
                      id="convertPlaylistInput"
                      class="URLinput"
                      placeholder="youtube.com/watch?v=YoU-tuBe_23"
                    />
                    <button id="URLsubmit-btn2" type="button">Submit</button>
                  </div>
                  <p id="error-message2"></p>
                </form>
                </div>
              </div>
              <div id="convertPlaylistContainer">
                <div id="expandedConvertPlaylistContainer">
                  <form class="urlForm">
                    <div class="urlFormInputLabel">
                      <p>
                        Please insert a valid YouTube URL for a playlist in
                        order to convert it
                      </p>
                    </div>
                    <div class="inputDiv">
                      <input
                        type="text"
                        id="convertPlaylistInput"
                        class="URLinput"
                        placeholder="youtube.com/playlist?list=YoU-tuBe_23"
                      />
                      <button type="button" id="URLsubmit-btn3" class="button-with-loader">Submit</button>
                    </div>
                    <p id="error-message3"></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="descriptionContainer">
            <h1>About Youtube to Spotify</h1>
                  <h2>Youtube to Spotify is a service that helps you create Spotify playlists by providing a URL to a Youtube playlist or video with songs.</h2>
                  <h3>How to use:</h3>
                  <h4>To identify a single song, enter the URL of a song you'd like to identify. 
                      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="blank">Example</a>
                  </h4>
                  <h4>To identify several songs in a video, enter the URL of the video.</h4>
                  <h4>To convert a Youtube playlist, make sure the URL is in fact the URL to the playlist itself and not the URL to any of the songs in the playlist.</h4>
          </div>
      </div>
    </main>
    <div id="spotifyPopupCreate">
        <img src="images/svg/spotifylogo.svg" alt="Spotify" class="spotifyPopupLogo">
        <h3>Creating playlist</h3>
        <p>In order to create a playlist you need to connect to Spotify</p>
        <div class="loadingElements">
          <button class="login-btn" onclick="authenticateSpotify('createPlaylist')">Connect</button>
          <button class="cancelSpotifyPopup" onclick="cancelSpotifyPopup('createPlaylist')">Cancel</button>
        </div>
    </div>
    <div id="spotifyPopupAdd">
        <img src="images/svg/spotifylogo.svg" alt="Spotify" class="spotifyPopupLogo">
        <h3>Adding to playlist</h3>
        <p>In order to add these songs to a playlist you need to connect to Spotify</p>
        <div class="loadingElements">     
          <button class="login-btn" onclick="authenticateSpotify('addToPlaylist')">Connect</button>
          <button class="cancelSpotifyPopup" onclick="cancelSpotifyPopup('addToPlaylist')">Cancel</button>
        </div>
    </div>
    </div>
  </body>
  <script src="scripts/urlPostScript.js"></script>
</html>
