
html{
    margin: 0px;
    background-color: #1d1c1c;
}

#mainContent{
    display: flex;
    justify-content: space-between;
}

#serviceContainer{
    background-color: #262628;
    height: 400px;
    width: 60%;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'Lexend';
    margin-top: 20px;
}

#serviceLabel{
    font-weight: 500;
    margin-left: 3%;
    padding-top: 1px;
    font-size: 25px;
}

#featureNav{
    background-color: #414144;
    display: flex;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#featureNavLinks{
    display: flex;
    width: 70%;
}

#featureNavLinks > div{
    padding: 10px;
    justify-content: space-between;
}

#featureNavLinks > div.active{
    background-color: #3b3b3d;
}

#featureNavIdSong{
    border-top-left-radius: 10px;
    background-color: #414144;
}

#featureNavIdPlaylist{
    background-color: #414144;
}

#descriptionContainer{
    background-color: #262628;
    height: 500px;
    width: 30%;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'Lexend';
    margin-top: 20px;
    margin-right: 20px;
}

#descriptionContainer h1{
    font-weight: 500;
    margin-left: 20px;
    padding-top: 1px;
    font-size: 25px;
}

#featureContainer{
    background-color: #3b3b3d;
    height: 70%;
    width: 89%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px #252525;
}

.urlFormInputLabel p{
    margin-left: 40px;
    font-size: 12px;
    margin-top: 0px;
}


#URLinput{
    background-color: #444447;
    border: none;
    height: 30px;
    width: 400px;
    margin-left: 40px;
    border-radius: 5px;
    color: #ffffff;
    padding-left: 12px;
}

#URLinput:focus{
    outline: 1px solid #368dff
}

.inputDiv{
    display: flex;
}

#URLsubmit-btn{
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    background-color: #444447;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lexend';
}

#URLsubmit-btn.active{
    background-color: #368dff;
    transition: 1s;
}

#error-message{
    margin-left: 25%;
    font-size: 12px;
    color: #e73030;
}

#identifySongContainer.active, #identifyPlaylistContainer.active, #convertPlaylistContainer.active{
    visibility: visible;
    height: 85%;
    width: 100%;
    background-color: #3b3b3d;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#identifySongContainer{
    visibility: hidden;
}

#identifyPlaylistContainer{
    visibility: hidden;
}

#convertPlaylistContainer{
    visibility:hidden ;
}