html {
  margin: 0px;
  background-color: #1d1c1c;
}

#mainContent {
  display: flex;
  justify-content: space-between;
}

#serviceContainer {
  background-color: #262628;
  height: 400px;
  width: 60%;
  border-radius: 20px;
  margin-left: 1%;
  color: #ffffff;
  font-family: "Albert Sans";
  margin-top: 20px;
  transition: 1s;
}

#serviceContainer.active {
  background-color: #262628;
  height: 680px;
  width: 60%;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Albert Sans";
  margin-top: 20px;
  transition: 1s;
}

#serviceLabel {
  font-weight: 500;
  margin-left: 45%;
  padding-top: 1px;
  font-size: 25px;
}

#featureNav {
  background-color: #343436;
  display: flex;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#featureNavLinks {
  display: flex;
  width: 80%;
  cursor: pointer;
}

#featureNavIdSong:hover, #featureNavIdPlaylist:hover, #featureNavConvertPlaylist:hover {
  background-color: #3b3b3d;
  transition: 0.15s;
}

#featureNavLinks {
  display: flex;
  width: 80%;
  cursor: pointer;
}

#featureNavLinks > div {
  padding: 10px;
  justify-content: space-between;
  border-right: 1px solid #636363;
}

#featureNavLinks > div.active {
  background-color: #3b3b3d;
  cursor: default;
}

#featureNavIdSong {
  border-top-left-radius: 10px;
  background-color: #343436;
}

#featureNavIdPlaylist {
  background-color: #343436;
}

#descriptionContainer {
  background-color: #262628;
  height: 500px;
  width: 30%;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Albert Sans";
  margin-top: 20px;
  margin-right: 20px;
}

#descriptionContainer h1 {
  font-weight: 500;
  margin-left: 20px;
  padding-top: 1px;
  font-size: 25px;
}

#descriptionContainer h2 {
  font-weight: 100;
  margin-left: 20px;
  margin-bottom: 40px;
  font-size: 20px;
}

#descriptionContainer h3 {
  font-weight: 100;
  margin-left: 20px;
  font-size: 20px;
}

#descriptionContainer h4 {
  font-weight: 100;
  margin-left: 20px;
  font-size: 18px;
}

#featureContainer {
  background-color: #3b3b3d;
  height: 70%;
  width: 89%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 2px 2px #252525;
}

.urlFormInputLabel p {
  margin-left: 40px;
  font-size: 12px;
  margin-top: 0px;
}

.urlForm p {
  margin-top: 20px;
}

.urlForm {
  margin-bottom: 30px;
}

.URLinput {
  border: 1px solid #a5a5a5;
  background-color: #444447;
  height: 30px;
  width: 400px;
  margin-left: 40px;
  border-radius: 50px;
  color: #ffffff;
  padding-left: 20px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
}

.URLinput:focus {
  border: 1px solid #ffffff;
  outline: none;
}

.inputDiv {
  display: flex;
}

#URLsubmit-btn1,
#URLsubmit-btn2,
#URLsubmit-btn3 {
  font-size: 12px;
  border: 1px solid #a5a5a5;
  font-family: "Lexend";
  color: #ffffff;
  background-color: #3b3b3d;
  font-weight: 700;
  transition-duration: 33ms;
  border-radius: 50px;
  padding: 7px 15px 7px 15px;
  height: 30px;
  margin-left: 20px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ring2 {
  display: inline-block;
  position: relative;
  width: 15px; 
  height: 15px; 
  margin-left: 10px;
}

.lds-ring2 div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring2 div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring2 div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring2 div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#URLsubmit-btn1 p,
#URLsubmit-btn2 p,
#URLsubmit-btn3 p {
  margin: 2px auto auto auto;
}

#URLsubmit-btn1.active,
#URLsubmit-btn2.active,
#URLsubmit-btn3.active {
  background-color: #368dff;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

#error-message1,
#error-message2,
#error-message3 {
  margin-left: 50px;
  font-size: 12px;
  color: #e73030;
}

#identifySongContainer.active,
#identifyPlaylistContainer.active,
#convertPlaylistContainer.active {
  display: inline;
  height: 85%;
  width: 100%;
  background-color: #3b3b3d;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#identifySongContainer {
  display: none;
}

#identifyPlaylistContainer {
  display: none;
}

#convertPlaylistContainer {
  display: none;
}

#convertPlaylistContainer, #expandedIdentifySongContainer, #expandedIdentifyAllSongsContainer{
  height: 300px;
  overflow: hidden;
}

#expandedConvertPlaylistContainer.active, #expandedIdentifySongContainer.active, #expandedIdentifyAllSongsContainer.active {
  height: 520px;
  background-color: #3b3b3d;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.5s;
  overflow: visible;
}

.resultDivider {
  height: 5px;
  width: 95%;
  background-color: #636363;
  margin: auto;
  border-radius: 20px;
}

.resultHeader {
  display: flex;
  margin-left: 40px;
  align-items: center;
}

.resultHeader button {
  margin-left: 10px;
}

.createPlaylist-btn,
.addToPlaylist-btn {
  font-size: 12px;
  border: 1px solid #a5a5a5;
  cursor: pointer;
  font-family: "Lexend";
  color: #ffffff;
  background-color: #3b3b3d;
  font-weight: 700;
  transition-duration: 33ms;
  border-radius: 50px;
  padding: 7px 15px 7px 15px;
  height: 30px;
}

.createPlaylist-btn:hover,
.addToPlaylist-btn:hover {
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
  transition-duration: 33ms;
}

.resultSpotifyButtons {
  margin-left: auto;
  margin-right: 40px;
}

#resultContainerConvert th, #resultContainerIdentifyAllSongs th, #resultContainerIdentifySong th{
  font-weight: 300;
  font-size: 12px;
  color: #a5a5a5;
  text-align: left;
}

.titleRow {
  display: flex;
  font-size: 16px;
  align-items: center;
}

.titleRow img {
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
}

.titleRowText {
  margin-left: 5px;
  margin-top: -3px;
}

.titleArtist {
  color: #c5c5c5;
  font-size: 12px;
  margin-top: -15px;
}

.titleAlbum {
  font-size: 14px;
  color: #c5c5c5;
}

.customCheckbox.active {
  background-color: #1ed760;
  background-image: url(/images/png/checkblack.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100px;
  border: none;
  width: 35px;
  height: 35px;
  transition: 0.15s;
  cursor: pointer;
}

.customCheckbox {
  background-color: #1d1c1c00;
  background-image: url(/images/png/checkgrey.png);
  border: 1px solid #a5a5a5;
  transition: 0.33s;
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  transition: 0.15s;
  cursor: pointer;
}

.tableDivider {
  height: 1px;
  width: 90%;
  background-color: #525252;
  margin: auto;
  position: sticky;
  top: 20px;
  z-index: 3;
}

.spotifyTable {
  margin: auto;
  width: 80%;
}

.tableHead th {
  padding-left: 20px;
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: #3b3b3d;
  padding-bottom: 4px;
}

.tableHead {
  background-color: #3b3b3d;
}

.tableTrackRow td {
  padding-left: 20px;
}

#resultContainerConvert, #resultContainerIdentifySong, #resultContainerIdentifyAllSongs {
  max-height: 420px;
}

.scrollContainer {
  max-height: 320px;
  overflow-y: auto;
  width: 90%;
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: 0.25s;
}

/* Styles for the active popup */
#spotifyPopupCreate.active,
#spotifyPopupAdd.active {
  visibility: visible;
  position: absolute;
  background-color: #262628;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
  padding: 30px 25px 50px 25px;
  transition: 1s;
  height: 350px;
  width: 300px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Lexend";
}

#spotifyPopupCreate,
#spotifyPopupAdd {
  visibility: hidden;
  position: absolute;
  background-color: #262628;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
  padding: 30px 25px 50px 25px;
  transition: 1s;
  height: 350px;
  width: 300px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Lexend";
  z-index: 1;
}

#spotifyPopup p {
  margin-bottom: 50px;
}

#main.blur > *:not(#spotifyPopup) {
  filter: blur(2px);
  transition: 1s;
}

.login-btn,
.cancelSpotifyPopup {
  font-size: 18px;
  border: none;
  font-family: "Albert Sans";
  color: #3b3b3d;
  font-weight: 700;
  transition-duration: 33ms;
  border-radius: 50px;
  padding: 7px 15px 7px 15px;
  height: 40px;
  margin: auto;
  transition: 0.5s;
  width: 70%;
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

.spotifyPopupCreate a{
  border: 1px solid #a5a5a5;
  background-color: #444447;
  height: 30px;
  width: 400px;
  margin-left: 40px;
  border-radius: 50px;
  color: #ffffff;
  padding-left: 20px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
}

.login-btn {
  background-color: #1ed760;
}

.login-btn:hover {
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

.cancelSpotifyPopup {
  border: 1px solid #a5a5a5;
  color: #ffffff;
  background-color: #262628;
}

.cancelSpotifyPopup:hover {
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
  transition-duration: 33ms;
  transform: scale(1.02);
}

.spotifyPopupLogo {
  height: 60px;
}

.loadingElements {
  display: unset;
}

.loadingElements.hide {
  display: none;
}

.lds-ring-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 140px;
  height: 140px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 120px;
  height: 120px;
  margin: 8px;
  border: 12px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.playlistContainerScroll{
  overflow: hidden;
  max-height: 200px;
  overflow-y: auto;
}

.playlistContainer{
  display: flex;
  font-family: "Albert Sans";
  display: flex;
  background-color: #2d2d2f;
  margin-bottom: 7px;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  height: 80px;
}

.playlistContainer:active{
  transform: translateY(1px)
}
.playlistContainer:hover{
  background-color: #3a3a3d;
  transition: 0.15s;
}

.playlistImage{
  height: 60px;
  border-radius: 5px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  margin-left: 20px
}

.playlistParagraphs{
  font-family: "Albert Sans";
  margin-left: 10px;
  margin-top: -3px;
}

.playlistName{
  font-size: 20px;
}

.playlistTracks{
  font-size: 15px;
  margin-top: -15px;
  color: #d6d2d2;
}


