.mainNav{
    background-color: #262628;
    width: 99%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lexend';
    height: 100px;
}

.logo{
    font-family: 'Lexend';
    font-weight: 700;
    font-size: 40px;
    margin-left: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.logo img{
    height: 40px;
}

#spotifylogo{
    margin-left: 20px;
}

.links{
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-left: 20%;
}

.links a{
    padding-right: 60px;
    color: #c8c8c8;
    font-size: 20px;
}

.links a:hover{
    cursor: pointer;
    color: #ffffff;
}